<div id="password-recovery">
  <form novalidate class="md-layout-row md-gutter" @submit.prevent="validateCredentials()">
	<md-card class="md-flex-50 md-flex-small-100">
	  <md-card-content>
		<div class="md-layout-row md-layout-wrap md-gutter">
		  <div class="md-flex md-flex-small-100">
			<md-field :class="getValidationClass('login')">
			  <label for="pr-login">{{ $t('label.login') }}</label>

			  <md-input name="login" id="pr-login" v-model.trim="form.login" :disabled="sending || fromEmailLink"/>

			  <span class="md-error" v-if="!$v.form.login.required">{{ $t('error.required') }}</span>

			  <span class="md-error" v-else-if="!$v.form.login.minLength">{{ $t('error.min_4_char') }}</span>

			  <span class="md-error" v-else-if="!$v.form.login.maxLength">{{ $t('error.max_16_char') }}</span>

			  <span class="md-error" v-else-if="!$v.form.login.LoginOrEmailValidator">
				{{ $t('error.not_login_or_email') }}
			  </span>
			</md-field>
		  </div>

		  <div class="md-flex md-flex-small-100" v-if="haveToken">
			<md-field :class="getValidationClass('token')">
			  <label for="pr-recovery-token">{{ $t('label.recovery_token') }}</label>

			  <md-input name="recovery_token" id="pr-recovery-token" v-model.trim="form.token"
						:disabled="sending || fromEmailLink"/>

			  <span class="md-error" v-if="!$v.form.token.required">{{ $t('error.required') }}</span>
			</md-field>
		  </div>

		  <div class="flex md-flex-small-100" v-if="haveToken">
			<md-field :class="getValidationClass('password')">
			  <label for="pr-password">{{ $t('label.password') }}</label>

			  <md-input name="password" id="pr-password" autocomplete="off" type="password" v-model.trim="form.password"
						:disabled="sending"/>

			  <span class="md-error" v-if="!$v.form.password.required">{{ $t('error.required') }}</span>

			  <span class="md-error" v-else-if="!$v.form.password.minLength">{{ $t('error.min_8_char') }}</span>
			</md-field>
		  </div>

		  <div class="flex md-flex-small-100" v-if="haveToken">
			<md-field :class="getValidationClass('confirmPassword')">
			  <label for="pr-confirm-password">{{ $t('label.confirm_password') }}</label>

			  <md-input name="confirm_password" id="pr-confirm-password" autocomplete="off" type="password"
						v-model.trim="form.confirmPassword" :disabled="sending"/>

			  <span class="md-error" v-if="!$v.form.confirmPassword.required">{{ $t('error.required') }}</span>

			  <span class="md-error" v-else-if="!$v.form.confirmPassword.sameAs">
				{{ $t('error.different_passwords') }}
			  </span>
			</md-field>
		  </div>
		</div>

		<md-chip class="md-accent error" v-for="err in errors" :key="err">{{ err }}</md-chip>
	  </md-card-content>

	  <md-progress-bar md-mode="indeterminate" v-if="sending"/>

	  <md-card-actions>
		<md-button type="button" class="md-primary" to="/">{{ $t('button.cancel') }}</md-button>

		<md-button type="submit" class="md-raised md-primary" :disabled="sending" v-if="!haveToken">
		  {{ $t('button.request_recovery_token') }}
		</md-button>

		<md-button type="submit" class="md-raised md-primary" :disabled="sending" v-else>{{ $t('button.recover') }}
		</md-button>
	  </md-card-actions>
	</md-card>
  </form>

  <md-snackbar md-position="center" :md-duration="Infinity" :md-active.sync="showSnackBar" md-persistent>
	<span>{{ $t('message.successful_recovering') }}</span>

	<md-button class="md-primary" @click="snackBarAction()">OK</md-button>
  </md-snackbar>
</div>
