<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The following code have been created by Yaroslav Zhyravov (softserveinc).
  ~ The code can be used in non-commercial way for everyone.
  ~ But for any commercial way it needs a author's agreement.
  ~ Please contact the author for that:
  ~  - https://t.me/Shrralis
  ~  - https://twitter.com/Shrralis
  ~  - softserveinc@gmail.com
  ~
  ~ Copyright (c) 2017 by softserveinc (Yaroslav Zhyravov).
  -->

<configuration>
	<!-- Send debug messages to System.out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- Send debug messages to a file at "~/SHRRALIS.log" -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>~/SHRRALIS.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>~/SHRRALIS.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="com.softserveinc.geocitizen" level="INFO" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	<!-- By default, the level of the root level is set to DEBUG -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
